<div class="card">
    <div class="card-header">
        Add an earning
    </div>
    <div class="card-body">
        <EditForm Model="@earning" OnValidSubmit="@HandleValidSubmit">
        </EditForm>
    </div>
</div>

@code {

}
